<!--
  Generated template for the CounterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Counter</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <button ion-button clear (click)="addNewCounter()">+ Add</button>

  <div *ngIf="counters.length == 0">
    <h3>No data found on our system</h3>
  </div>

  <div *ngIf="counters.length > 0">
    <ion-card *ngFor="let counter of counters">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-row>
                <ion-col col-6>Counter Name</ion-col>
                <ion-col col-6>{{counter.CounterName}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Address</ion-col>
                <ion-col col-6>{{counter.CounterAddr}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Phone No.</ion-col>
                <ion-col col-6>{{counter.CounterPhone}}</ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
